// Fonts
$font-stack-sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-stack-serif: Courier New, monospace;
$font-stack-serif-secondary: Merriweather, Georgia, serif;
$font-stack-sans-secondary: 'Gill Sans', Calibri, sans-serif;

// Colors
$primary-blue: #2c3e50;
$primary-red: #eb4f37;
$secondary-light-blue: #6f8aa6;
$primary-link: #57caf0;