@import '../../sass/typography';

.footer__container {
    display: block;
    width: 100%;
    padding: 35px 15px;
    clear: both;
    border-top: 2px solid #eee;
    background-color: #ffffff;
    .social__icons {
        display: flex;
        align-items: center;
        max-width: 150px;
        margin: 0 auto;
        justify-content: space-evenly;
        a {
            padding: 6px 8px;
            font-size: 12px;
            color: #999;
            border: 2px solid #999;
            border-radius: 50%;
            &:hover {
                color: $primary-blue;
                border-color: $primary-blue;
            }
        }
        span {
            display: none;
        }
    }
    .container__max {
        margin: 0 auto;
        max-width: 1200px;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    img {
        max-width: 200px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin: 45px 0 25px;
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        font-size: 15px;
        color: #777;
        &:hover {
            color: $primary-red;
            text-decoration: underline;
        }
    }
}

.privacy-policy__container {
    padding: 2rem;
}

.policy__block {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    &:first-child {
        padding-top: 0;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 767px) {
    .footer__container {
        .flex__container {
            display: flex;
        }
        .social__icons {
            flex: 1;
        }
    }
    .footer__logo {
        flex: 2;
        justify-content: flex-start;
    }
    .footer__list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        max-width: 400px;
        margin: 0;
        padding: 25px 0 0 15px;
        padding-bottom: 0;
        border-top: 1px solid #eee;
        a {
            font-weight: bold;
        }
    }
}