@import '../../sass/typography';

.index__primary-container {
    display: block;
    margin: 0 auto;
    width: 100%;
    .social-icons__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pagination__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px auto;
        padding: 5px 10px;
        max-width: 70%;
    }
    .index__paginate-list {
        display: flex;
        margin: 0;
        min-width: 120px;
        justify-content: space-evenly;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .paginate__item {
        padding: 0 5px;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        &:active, &:hover {
            background: $primary-red;
            border-radius: 3px;
            color: #fff;
        }
    }
    .paginate__arrow-btn {
        color: #000;
        font-size: 17px;
        font-weight: bold;
        padding: 4px 8px;
        &:active {
            background: #eee;
        }
    }
}

// Featured article
.featured__container {
    padding: 0 15px;
}

.featured__article {
    margin: 0 -15px;
    padding-bottom: 35px;
}

.featured-image__container {
    margin-bottom: 15px;
}

.featured__article--caption {
    p {
      margin: 0;
      padding: 10px;
      font-size: 13px;
    }
    a {
      color: $primary-red;
    }
}

.featured-article__body {
    padding: 0 15px;
    font-family: $font-stack-serif;
    .meta-description {
        font-style: italic;
        margin-bottom: 10px;
    }
    .byline {
        font-size: 13px;
    }
}

.featured-article__excerpt {
    padding: 10px 0;
    font-size: 16px;
    line-height: 130%;
    color: #465E69;
    p {
        margin-bottom: 10px;
    }
}

.featured-article__author {
    font-size: 13px;
    margin-left: 5px;
    text-transform: uppercase;
    color: #777;
}

.featured-article__read--more {
    font-weight: 600;
    color: $primary-blue;
    svg, i {
        margin-right: 10px;
    }
}

.featured-article__title {
    margin-bottom: 15px;
    font-family: $font-stack-serif;
    font-size: 30px;
    line-height: 110%;
    a {
        color: $primary-blue;
    }
}

.index__article {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px 0 20px;
    border-bottom: 1px solid #ccc;
    &:first-child {
        padding-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
    }
    h2 {
        font-family: $font-stack-serif;
    }
}

.img-outer__wrapper {
    position: initial;
    width: 100%;
    width: 100% !important;
    height: auto !important;
}

.index-article__title {
    font-size: 22px;
    margin-bottom: 12px;
    line-height: 110%;
    color: $primary-blue;
    &:hover {
        color: #777;
    }
}

.index-article__category {
    margin-bottom: 20px;
    font-size: 12px;
    color: $primary-red;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.index__article-container {
    padding: 0 15px;
}

.index-article__body {
    padding: 0px 25px;
}

.index-article__content {
    font-size: 15px;
    line-height: 100%;
    color: $primary-blue;
    p {
        margin-bottom: 15px;
        line-height: 150%;
    }
}

.index-article__more--btn {
    font-weight: bold;
    color: $primary-blue;
    vertical-align: top;
    cursor: pointer;
    &:hover, &:active {
        color: #999;
    }
    svg, i {
        margin-left: 10px;
    }
}

.index__social-icons {
    padding: 35px 15px;
    h4 {
        color: #000;
        font-weight: bold;
        font-size: 17px;
    }
    .social__icons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 0;
        hr {
            width: 5px;
            height: 20px;
            border-right: 3px dotted orange;
            background: transparent;
        }
        span {
           display: none;
        }
    }
    svg, i {
      padding: 7px;
      font-size: 34px;
      border-radius: 50%;
      border: 2px solid #ccc;
      color: $primary-blue;
    }
}

// 404 page
.not-found__landing {
    padding: 3rem 0;
    background: #eee;
    font-family: sans-serif;
    h1 {
        color: $primary-blue;
    }
    ul {
        padding: 5px 0;
    }
    li {
        margin-bottom: 5px;
        list-style-type: none;
    }
    a {
        font-size: 18px;
        font-weight: 500;
        color: $primary-red;
        text-decoration: none;
    }
}

.not-found__body {
    padding: 0 2rem;
    h1 {
        font-size: 60px;
    }
    h3 {
        color: #777;
    }
}

.not-found__logo {
    margin-bottom: 4rem;
    padding: 0 2rem;
    img {
        max-width: 250px;
    }
}

@media screen and (min-width: 767px) {
   .index__article-container {
      padding: 0 2rem;
   }

   .featured__article {
      padding-bottom: 40px;
   }

   .featured-image__container {
      max-height: 55vh;
      overflow: hidden;
   }

   .featured-article__title {
       font-size: 40px;
   }
   
   .featured__article--caption {
      p {
         padding: 25px 2rem;
      }
   }
}

@media screen and (min-width: 1056px) {
   .index__primary-container {
      padding: 0 3rem;
      margin: 15px 0;
      width: 70%;
      float: left;
      .pagination__wrapper {
         margin: 3rem auto;
      }
   }
   .index__social-icons {
      margin: 0;
      padding: 35px 15px;
      .social__icons {
      flex-direction: column;
         li {
            padding-bottom: 20px;
            vertical-align: middle
         }
         span {
            border-bottom: 3px dotted orange;
            display: inline-block;
            margin-left: 10px;
            padding-bottom: 5px;
            font-weight: bold;
            color: $primary-blue;
         }
         hr {
            display: none;
         }
      }
   }
   .featured__article {
      margin-bottom: 35px;
   }

   .index-article__body {
      flex: 1;
      padding: 15px 0;
   }

   .index__article {
      display: block;
      border: none;
      padding: 0 15px;
      margin-bottom: 25px;
      max-width: 50%;
   }

   .index__article-container {
      display: flex;
      flex-wrap: wrap;
   }

   .article__image-container {
      flex: 2;
      max-width: 400px;
   }
   .not-found__body {
       padding: 0 6rem;
   }
}